body{
    margin: 0;
    padding: 0;
    font-family: "roboto",sans-serif;
 

}
.container{
    width: 100%;
    
}

.header1{
    
    padding: 5px;
    display: flex;
    justify-content: space-between;
   border-bottom: 1px solid rgb(207, 207, 207);
   text-align: center;
   align-items: center;
    
}
.menu{
    display: flex;
    gap: 10px;
    
}
.menu a{
    text-decoration: none;
    font-size: 10px;
    padding: 2;


}
.menu a:hover{
   
    background-color: #DB504B;
    padding: 2px;
    color: white;
    

}
.logo{
    font-weight: bold;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
font-size: 30px;
    height: 75vh;
    padding: 10px;
    background-color: bisque;

   
}
h1{
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: -10px;
}
.cardcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin: -80px;
  
    
}


.cards{
    
    font-size: 10px;

align-items: center;
    justify-items: center;
flex-direction: column;
    display: flex;
    text-align: center;
    width: 250px;
    padding: 20px 15px;
    border-radius: 10px;
    margin:  0px 10px;
    background-color: white;
    border: 1px solid rgb(245, 234, 234);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.read{
    background-color: #DB504B;

    text-align: center;


    border: none;
    border-radius: 5PX;
    font-size: 8PX;
    font-size: 14px;
    color: white;
    font-weight: 200;
 
    padding: 10px 20px;
}  
img{
    width: 35px;
    height: 35px;
}
span{
    color: white;
    
}
.arrow1{
    display: flex;
    background-color: #DB504B;
    justify-content: space-between;
    align-items: center;
    color: rgb(10, 10, 10);
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    padding: 12px 25px;
    gap:   5px;
    margin-top: 16px;
}

.arrow{
    height: 5px;
    width: 5px;

}
p{
    font-size: 14px;
    font-weight: normal;
}
.para{
    font-size: 30px;
    font-weight: 300;

}

h5{
    font-size: 14px;
    color: #DB504B;
}
.Sandbox{
    display: flex;
    flex-direction: column;
   margin-top: 150px;
   
}
.sandbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
    
}



.reasons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    padding: 10px;
    margin: 0 10px;
    gap: 10px;
    border-radius: 5px;

}
.reasons:hover{ 
    background-color: #DB504B;
    color: white;
}
 
.reasons1{
    display: flex;
    margin-top: 30px;
}
h4{
    font-weight: lighter;
    padding-bottom: 20px;
}
.sandbox1 h4 p{
    text-align: center;
    margin: 2px;
}
.form{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
      text-transform: capitalize;
    margin-top: -16px;
}

.sandbox2{
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 40px 200px;
  

}
.sandbox2 img{
    width: 600px;
    height: 400px;
 border-radius: 6px;
  
}
.sandbox2 p{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.sandbox2 h5{
    font-size: 25px;
    font-weight: 500;
    
}
.sandbox2 button{
    margin-top: 30px;
}
.text{
    margin-left: 40px;
}
.timecontainer{
    background-color: rgb(248, 248, 248);
    height: 600px;
    align-items: center;
    justify-content: flex-start;
    display: flex;

    background-color: #f3eded;
    flex-direction: column;
    margin-top: 120px;
    
   
    
}
.save{
    font-size: 40px;
    font-weight: bold;
align-items: center;
justify-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    text-align: center;
   
}
.save h3{
    margin-top: -30px;
    font-size: 30px;
}
.save1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    width: 30%;
  
}
.save2{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  width: px;
  align-items: center;
}
.save2 p {
    font-size: 25px;
}

.save2 img {
    width: 130px;
    height: 130px;
}

.save4 h6 {
    /* margin-top: -100px; */
    font-weight: 500;
    text-transform: capitalize;
    

}
.newtime{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.time{
display: flex;
justify-content: center;
align-items: center;
    border-radius: 20PX ;
    box-shadow: 3px 3px 3px 3px  #7c0d0d1a;
    width: 75%;
    height: 60%;
    background-color: white;
    margin-top: -190px;

    
}

.time1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(139, 133, 133);
    padding: 20px 30px;
    font-size: 14px;
    width: 50%;
    height: 50%;

    
}
.time1 p{
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    
}
.time3{
    display: flex;
    justify-content: center;
    align-items: center;
width: 50%;
height: 50%;
}
.time3 img {

    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.project{
    align-items: center;
    width: 100%;
    height: 100%;
 
 
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

}

.projects h6{
    font-size: 15px;
    color: #818181f3;
    text-transform: capitalize;  
    margin-bottom: 30px;
}
.projects h2{
    font-size: 30px;
}

.projects1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 20px;

  

}
.projects2{
    flex-direction: column;
   align-items: center;
   justify-items: center;
   justify-content: space-between;
  margin: 15px;
    height: 40%;
  
}
.projects2 img{
    width: 400px;
    height:  400px;
    border-radius: 15px;
}
.solutions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.solutions1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.solutions1 img{
    width: 300px;
    height: 300px;

}

.solo img{
    width: 100%;
}
.solo1 {
    display: flex;
    align-items: center;
}
.solo1 img{
    margin: 10px;
    width: 50%;
    height: 50%;
}
.asset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin: 30px;

}
.asset h5{
    font-size: 20px;
    font-weight: bold;
    color: #9b9191b7;
    text-transform: capitalize;
    text-align: center;
    margin-top: 60px;
    margin-left: -180px;

}
.asset h4{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
}

.asset1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.asset2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.Be{
    display: flex;
   
}
.Be1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: -25px;
}
.last   {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100PX;
}
.last1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a721c2b7;
width: 1300px;
border-radius: 10px;

}
.last1 h5{
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    color: white;
}
.last1 p{
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-top: -20px;
}
.last button{
   width: 100px;
   padding: 10px;
   border-radius: 6px;
   border: none;
   margin-bottom: 60px;

}